.upArrowIcon {
    position: fixed;
    color: white;
    right: 0;
    bottom: 0;
    background-color: #a30b2d;
    padding: 5px 15px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}
.upArrowIcon:hover {
    transform: translateY(-2px);
}